html {
    scroll-behavior: smooth;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}


.slider-container {
    position: relative;
    width: 100%;
    height: 650px;
    overflow: hidden;
    margin: 0 auto;
}

.slider-image {
    width: 100%;
    height: 100%;
    object-fit: fill;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.navigation {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

button {
    color: black;
    border: none;
    font-size: 30px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


#guide {
    display: flex;
    align-items: center;
    background-color: white;
    padding-left: 10px;
    padding-top: 30px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.guide-btn {
    width: 130px;
    height: 40px;
    border-radius: 60px;
    border-color: transparent;
    font-size: 15px;
}

.guide-btn:hover {
    background-color: #180b5f;
    color: azure;
    cursor: pointer;

}

.activeBtn {
    background-color: #180b5f;
    color: #fff;
}

#products {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    max-width: 1200px;

}

.product-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s;
    padding: 15px;
}

.product-card:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.product-image img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 15px;
    object-fit: fill;
}

.product-details {
    padding: 15px;
}

.product-name {
    font-size: 1.5em;
    margin: 0;
}

.product-description {
    font-size: 0.9em;
    color: #666;
    margin: 10px 0;
    padding: 0 10px;
}

.product-price {
    font-size: 1.2em;
    color: #333;
    margin: 10px 0;
}

.add-to-cart-btn {
    display: inline-block;
    padding: 10px 19px;
    background-color: #180b5f;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 0.9em;
    transition: background-color 0.3s;
}

.add-to-cart-btn:hover {
    background-color: #fff;
    color: #180b5f;
    border: 1px solid #180b5f;
}

#s3 {
    display: flex;
    justify-content: center;
    padding: 1em;
    flex-wrap: wrap;
}

div.props {
    background-color: gainsboro;
    width: 300px;
    height: 300px;
    align-content: center;
    border-radius: 10px;
    text-align: center;
    margin: 1em;
}

div.back-props {
    background-color: color-mix(in hsl shorter hue, #121FCF 0%, #CF1512 100%);
    border-radius: 50%;
    height: 100px;
    width: 100px;
    align-content: center;
}

div.prop-details h2 {
    margin-bottom: 10px;
}

div.prop-image {
    margin-bottom: 35px;
    justify-items: center;
}

.back-props i {
    font-size: 30px;
    color: #fff;
}


.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    background-color:#180b5f;
    color: white;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    display: none;
    z-index: 1000;
  }
  
  .back-to-top:hover {
    background-color: #0056b3;
  }
